* { box-sizing: border-box; }
body { padding: 0; margin: 0;
    background-image: url(../IMG/background.png);
    background-size: cover;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}
.container {
    max-width: 1030px; 
    margin: 0 auto; }
        
header {
    margin-top: 46px;
    margin-bottom: 17px;
    display: flex;
    width: 1028px;
    height: 61px;
    justify-content: space-between;
    position: relative;
}
    .logo { 
        display: flex;
        width: 180px; 
        position: relative;
        height: 51px;
        align-items: center ;
        text-transform: uppercase;     
        text-decoration: none;  
        font-weight: bold;
        font-size: 18px;
        color: #FFFFFF; 
    }

    .logo_pict_red {
        display: none;
        position: absolute;
}

    .logo:hover .logo_pict_red { 
        display: block;
    }
    .logo:hover  { 
        color: #F26522;
    }
    

    .logo__title {
        font-size: 29px;
        position: absolute;   
        left: 57px; top: 0; 
    }
    .logo__text {
        position: absolute;
        left: 57px; bottom: 0;
    }
    .contacts { 
        display: flex;
        width: 220px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        font-size: 18px;
    }
    .contacts a {
        color: #FFFFFF; 
        text-decoration: none;
    }
    .contacts a:hover {color: #F26522;}


main {
    height: 560px;

    display: grid;   
    grid-template-columns: repeat(3, 309px); 
    grid-template-rows: repeat(3, 261px);
    row-gap: 37px;
    column-gap: 54px;
}
    .main__gallery {
        width: 309px; height: 261px;
        display: flex;
        text-decoration: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        line-height: 18px;
        color: #FFFFFF;
        position: relative;
    
    }
.gallery__name_hov {
    position: absolute;
    color: white;
    display: none;
    bottom: 40px;
    width: 300px; height: 55px;
    background-color: #F26522;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
.main__gallery:hover .gallery__name_hov {
display: flex;
}
.main__gallery:hover {
    color: #F26522;
}
.footer {
    height: 80px;
    font-size: 12px;
    line-height: 12px;
} 
.footer p {
    padding-top: 48px;
    color: white;     
    text-align: center;

}
