/*Обнуление*/ 
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*-----конец обнуления---------------*/
html {
	position: relative;
	width: 1280px;
	height: 1626px;
	background: #FFFFFF;
	font-family: Montserrat;
}
nav {
	width: 620px;
	height: 15px;
	margin-top: 31.5px;
	margin-left: 330px;
	position: absolute;		}
li {
	float: left; /*Размещаем список горизонтально для реализации меню*/
	}
a{ color: #FF0000; }
.home {
	height: 27px;
	width: 68px;
	margin-left: 0px;
	top: -6px;
	border-radius: 0;
	position: absolute;}
.photoapp {
	height: 27px;
	width: 131px;
	margin-left: 140px;
	top: -6px;
	border-radius: 0px;
	position: absolute;}
.design {
	height: 27px;
	width: 87px;
	margin-left: 343px;
	top: -6px;
	border-radius: 0px;
	position: absolute;}
.download {
	height: 27px;
	width: 140px;
	margin-left: 480px;
	top: -6px;
	border-radius: 0;
	position: absolute;}
img {
	margin-top: 78px;
	height: 789px;
	width: 1280px;
	left: 0px;
	border-radius: 0px;
	position: absolute;}
article {
	position: absolute;
	width: 1280px;
	height: 650px;
	margin-left: calc(50% - 1280px/2);
	bottom: 108px;}
.Introduction {
	position: absolute;
	width: 774px;
	height: 29px;
	left: 253px;
	top: 48px;	
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	display: flex;
	align-items: flex-end;
	letter-spacing: 3.3px;
	text-transform: uppercase;	
	color: #373737;
}
.text1 {
	position: absolute;
	width: 1145px;
	height: 132px;
	left: 67.5px;
	top: 115px;	
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	/* or 162% */
	text-align: center;
	letter-spacing: 2.4px;
	color: #373737;}
.text2 {
	position: absolute;
	width: 1145px;
	height: 216px;
	left: 67.5px;
	top: 275px;	
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	/* or 162% */	
	text-align: center;
	letter-spacing: 2.4px;	
	color: #373737;	}
.started{
	position: absolute;
	width: 105px;
	height: 16px;
	left: 587px;
	top: 575px;	
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 12px;
	/* or 100% */	
	display: flex;
	align-items: center;
	letter-spacing: 1.8px;
	text-transform: uppercase;	
	color: #ffffff;	} 
.rectangle {
	position: absolute;
	width: 191px;
	height: 51px;
	left: 544.5px;
	top: 557px;	
	background: #FF0000;
	border-radius: 4px;}
.fone {
	position: absolute;
	width: 1280px;
	height: 650px;
	left: 0px;
	top: 0px;	
	background: rgba(0, 0, 0, 0.0001);}
footer {
	position: absolute;
	width: 1070px;
	height: 39px;
	right: 105px;
	bottom: 29px;	
}
.credits {
	position: absolute;
	visibility: hidden;
	width: 382px;
	height: 16px;
	left: 0.5px;
	top: -41px;	
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 18px;
	line-height: 21px;
	display: flex;
	align-items: flex-end;
	letter-spacing: 2.7px;
	text-transform: uppercase;	
	color: #373737;	
}
.Copyright {
	position: absolute;
	width: 462px;
	height: 39px;
	left: 608px;
	top: 0px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	display: flex;
	align-items: center;
	letter-spacing: 2.4px;
	color: #373737;
}
.Sfondo {
	position: absolute;
	width: 462px;
	height: 39px;
	left: 608px;
	top: 0px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	display: flex;
	align-items: center;
	letter-spacing: 2.4px;
	color: #373737;
}


